SECRET_KEY=
APPLICATION_NAME=
SERVER_PORT=9090
MYSQL_URL=
MYSQL_USERNAME=
MYSQL_PASSWORD=
HIBERNATE_DDL=
MULTIPART_MAX=
MULTIPART_MAX_REQUEST=
UPLOAD_DIR=
CACHE_TYPE=
CACHE_HOST=
CACHE_PORT=
CACHE_NAMES=